<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"ceos-app","logType":"application"}</customFields>
            <timeZone>Asia/Seoul</timeZone>
        </encoder>
    </appender>

    <appender name="APP_FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"ceos-app","logType":"application"}</customFields>
            <timeZone>Asia/Seoul</timeZone>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/application-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="AUDIT_FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/audit/audit.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"ceos-app","logType":"audit"}</customFields>
            <timeZone>Asia/Seoul</timeZone>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/audit/audit-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>90</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON" />
        <appender-ref ref="APP_FILE_JSON" />
    </root>

    <logger name="cgv_23rd.ceos" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE_JSON" />
        <appender-ref ref="APP_FILE_JSON" />
    </logger>

    <logger name="AUDIT_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="AUDIT_FILE_JSON" />
    </logger>
</configuration>
